* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    background-color: rgb(201, 198, 198);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

header ul {
    display: flex;
    justify-content: right;
    padding: 10px;
    background-color: #21213b;
    color: cyan;
}

a {
    text-decoration: none;
    display: inline-block;
    color: cyan;
    border-radius: 5px;
    padding: 2px;
    transition: 0.7s ease;
}

a:hover {
    background: cyan;
    color: #21213b;
    transform: scale(1.1);
}

a:active {
    background-color: magenta;
}

header ul li {
    padding: 10px;
    margin: 10px;
    list-style: none;
}

#home-container {
    background: radial-gradient(cyan, black, cyan, magenta);
    height: calc(100vh - 5rem);
    margin-top: 4.8rem;
    background-size: cover;
}

#home-video {
    min-width: 100%;
    max-width: 100%;
    object-fit: contain;
    height: 100%;
}

h1 {
    color: magenta;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10px;
}

#home-container h1 {
    display: block;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h2 {
    color: cyan;
}

#about-container {
    margin: 3rem auto auto auto;
    padding-top: 5rem;
    text-align: center;
    width: 100%;
}

#about-container div p {
    font-size: 1.3rem;
    padding-top: 0;
}

.about-and-skill {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.desc {
    max-width: 700px;
    margin: auto;
}

#about-container p:hover::before {
    content: '"'
}

#about-container p:hover::after {
    content: '"'
}

#profile-pic {
    width: 20%;
    border-radius: 50%;
    transition: 0.3s;
}

#profile-pic:hover {
    transform: scale(1.1);
}

#works {
    padding: 2rem;
}

#works-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 15pt;
    width: 20rem;
    height: 15rem;
    background-color: gray;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 1rem 1rem 1rem rgb(94, 92, 92);
}

.card:hover {
    transform: scale(1.1);
}

.caption {
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.card img {
    width: 100%;
    height: 70%;
}

#play-card {
    width: 80%;
    height: 70%;
    margin: auto;
    border-radius: 20px;
    background-color: gray;
}

.player {
    width: 100%;
    height: 80%;
}

.top {
    height: 19%;
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: gray;
}

.top .fa-solid {
    padding: 20px;
    font-size: 1.5rem;
}

.fa-solid:hover {
    cursor: pointer;
}

#contact-container {
    height: 55vh;
    width: 100%;
    padding: 1.5rem;
    background-color: #21213b;
}

.contact-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    ;
    max-width: 40rem;
    align-items: center;
    margin: auto;
}

#contact-container div a {
    display: block;
    text-align: center;
    width: 10rem;
    color: cyan;
    align-items: center;
    margin: 10px auto;

}

#contact-container div a:hover {
    background-color: magenta;
    color: #21213b;
    transform: translate(20px);
}

#contact-container p {
    text-align: center;
    color: cyan;
    padding-bottom: 10px;
}

#copy {
    text-align: center;
    margin-top: 25px !important;
    font-size: small !important;
}

.skills-container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.core-skills {
    width: 25rem;
    padding: 2.5rem;
    background-color: white;
    border-radius: 20px 10px 15px 25px;
    transform: skew(5deg);
    box-shadow: 2px 2px 5px 5px;
    margin-bottom: 4rem;
}

.core-skills ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: left;
    padding: 5px;
    font-size: 1.3rem;
}

.core-skills ul li img {
    width: 1.5rem;
    height: 1rem;
    padding-top: 2px;
}

.core-skills h2 {
    border-bottom: 1px double red;
    color: magenta;
    box-shadow: 2px 2px 2px 2px;
}

#about-container p {
    display: block;
    padding: 2rem;
    width: 80%;
    margin: auto;
}

#contact-container p {
    color: aliceblue;
    font-size: 1.5rem;
}

hr {
    width: 90%;
    margin: auto;
    background: linear-gradient(cyan, magenta);
    padding: 2px;
    border: none;
    box-shadow: 1px 1px 1px 1px magenta;
}

@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Regular.ttf");
}
